<script defer src="javascripts/createGame.js"></script>

<div id="container" class="contenedor">
  <input type="text" name="Nombre 1 " id="name1"/>
  <input type="text" name="Nombre 1" id = "name2"/>
  <input type="text" name="Nombre 1" id = "name3"/>
</div>

<p>
    <button type="button" id ="btnCreateGame">Crear juego</button>
</p>