<script defer src="javascripts/createGame.js"></script>

<h1>Bienvenido al juego de lanzamiento de dados</h1>
<h2>Empecemos ingresando los nombres de los tres jugadores:</h2>

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre del primer jugador</label>
    <input type="text" class="form-control" id="name1">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre del segundo jugador</label>
    <input type="text" class="form-control" id="name2" >
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre del tercer jugador</label>
    <input type="text" class="form-control" id="name3" >
  </div>

  <button type="submit" id="btnCreateGame" class="btn btn-primary">Crear juego</button>
</form>



