<script defer src="/javascripts/gameState.js"></script>

<h1>Estado del juego</h1>
<h2>Id del juego : fffff-ggg-jjjjj </h2>
<h2>Jugadores: </h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td id="name1">Mark</td>
      <td id="id1">Otto</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td id="name2">Jacob</td>
      <td id="id2">Thornton</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td id="name3">Larry the Bird</td>
      <td id="id3">Thornton</td>
     
    </tr>
  </tbody>
</table>

<h2>Ganador: </h2>

<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Nombre</th>
      <th scope="col">Id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     
      <td id="nameWinner">Mark</td>
      <td id="idWinner">Otto</td>
     
    </tr>
  </tbody>
</table>

<h2>En progreso: </h2>
<label for="exampleInputEmail1" class="form-label" id="lblProgress">progress</label>