<script defer src="javascripts/startGame.js"></script>

<h1>Apuesta de cada jugador</h1>
<h3>Nota: debe ser un número entre 1 y 6</h3>


<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" id="label1">Apuesta del primer jugador</label>
    <input type="text" class="form-control" id="name1">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" id="label2">Apuesta del segundo jugador</label>
    <input type="text" class="form-control" id="name2">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" id="label3">Apuesta del tercer jugador</label>
    <input type="text" class="form-control" id="name3">
  </div>

  <button type="submit" id="btnSaveBets" class="btn btn-primary">Guardar apuestas</button>
  <button type="submit" id="btnDice" class="btn btn-primary">Lanzar dado</button>
</form>

<div>
   <h1 id="lblRD">Resultado del dado lanzado:</h1>
   <h1 id="diceResult">Dado</h1>
</div>

<a href="http://localhost:3000/game/fffff-ggg-jjjjj" target="_blank">Ver estado del juego</a>


