<script defer src="javascripts/startGame.js"></script>

<div id="container" class="contenedor">
  <input type="text" label = "apuesta1" name="Nombre 1 " id="name1"/>
  <input type="text" name="Nombre 1" id = "name2"/>
  <input type="text" name="Nombre 1" id = "name3"/>
</div>

<p>
    <button type="button" id ="btnStartGame">Empezar juego</button>
</p>