<script defer src="/javascripts/winner.js"></script>

<div class="card">
  <div class="card-body" id="winner">
    This is some text within a card body.
  </div>
</div>

<button type="button" class="btn btn-primary" id="btnNewGame">Nuevo juego</button>

