<script defer src="/javascripts/winner.js"></script>

<div id="container" class="contenedor">
  <input type="text" value="ganador" name="Nombre 1 " id="name1"/>

</div>

<p>
    <button type="button" id ="btnStartGame">Ver estado de juego</button>
</p>